brainprint==0.4.0
lapy>=1.1.1
matplotlib
nibabel
numpy
pandas
scipy
mriqc>=24.0.0
scikit-image
scikit-learn
transforms3d
pyopengl
glfw
pillow
pyrr
PyQt6
whippersnappy>=2.1.0
neuroreg>=0.10.1
traits>=7
